html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rateway', sans-serif;
    /* background-color: #e7e7e7; */
    font-size: 1.4rem;
    /*1rem = 10px*/
}


/* All */

p {
    margin: auto;
    color: white;
}

i {
    padding-right: 1rem;
}

img {
    width: 6rem;
    height: 6rem;
    background-color: white;
    padding: 0.5rem;
}

a:link {
    text-decoration: none;
}


/* Start Fontawesome */

.fas {
    font-size: 2.5rem;
    color: white;
    margin-right: 1rem;
    cursor: pointer;
    padding: 0;
}

.fa-search {
    color: #DDD;
    margin: 0;
    padding: 0;
}


/* End Fontawesome */


/* This is start style header */

.main-bar {
    background-color: rgb(55, 0, 124);
    padding: 1.1rem 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(55, 0, 124);
}

.nav-logo {
    flex-grow: 1;
}

.nav-input {
    display: flex;
    background-color: white;
    flex-grow: 1;
}

.nav-input button,
input {
    background-color: white;
    border: 0;
    outline: none;
}

input {
    height: 4rem;
    width: 100%;
    border-radius: 2px;
    padding: 5px 40px 5px 15px;
    background-color: transparent;
    border: 0;
}

.navbar-right-block {
    display: flex;
    align-items: center;
}

.navbar-right-block .promotion {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

.navbar-right-block .login {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

.navbar-right-block .check-order {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

.navbar-right-block .cart {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}


/* This is end style header */